# It is assumed the image files are located in {LOCATION}/{section name}.
LOCATION = $HOME/.local/share/qemu

# The section name appears on a line by itself, enclosed in square brackets (`[]`).
# The section name consists of {ARCH}/{name}.
[x86_64/debian]
# The strings beginning with `-` are the options for `qemu-system-{ARCH}`
# Each line must consist of a single option and, optionally, a single argument.
# It is unnecessary to quote the QEMU option's argument even if it contains spaces in this cfg file.
# (Quotation marks are literal.)
-machine type=q35
-cpu host
-accel accel=kvm
-m size=2048
-name Debian 13 (Trixie)
-drive file=debian-13-nocloud-amd64.qcow2,if=virtio,format=qcow2
# -snapshot: write to temporary files instead of disk image files
-snapshot
-nographic
# https://wiki.qemu.org/Documentation/9psetup
-virtfs local,path=${HOME},mount_tag=mount0,security_model=none
-device virtio-net-pci,netdev=net0
-netdev user,id=net0,hostfwd=tcp::2222-:22

[x86_64/ubuntu-20.04]
-machine type=pc-q35-focal
-cpu host
-accel accel=kvm
-m size=2048
-name Ubuntu-20.04 (Focal Fossa)
# https://ubuntu.com/docs/public-images/public-images-how-to/
-drive file=focal-server-cloudimg-amd64.img,if=virtio,format=qcow2
-drive file=seed.img,if=virtio,format=raw
# -snapshot: write to temporary files instead of disk image files
-snapshot
-nographic
# https://wiki.qemu.org/Documentation/9psetup
-virtfs local,path=${HOME},mount_tag=mount0,security_model=none
-device virtio-net-pci,netdev=net0
-netdev user,id=net0,hostfwd=tcp::12222-:22
